*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --fs-xl: clamp(1.5rem, 1.5rem + 5vw, 5rem);
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.25rem;
}

@media (width > 600px) {
    :root {
        --fs-600: 2.5rem;
        --fs-500: 2.25rem;
        --fs-400: 1.75rem;
    }
}

@media (width > 768px) {
    :root {
        --fs-600: 2.5rem;
        --fs-500: 2.25rem;
        --fs-400: 1.75rem;
    }
}

@media (width > 1024px) {
    :root {
        --fs-600: 2.75rem;
        --fs-500: 2.5rem;
        --fs-400: 2rem;
    }
}

body {
    background-color: hsl(0, 0%, 20%);
    padding: 1rem;
    color: white;
    font-size: var(--fs-400);
    display: grid;
    gap: 0.3rem;
}

h1 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-600);
}

p {
    font-size: var(--fs-400);
}

.nav-container > button {
    color: white;
    background-color: hsl(0, 0%, 15%);
    font-size: var(--fs-400);

    border: 2px solid gray;
    border-radius: 7px;

    padding: 0.2rem 0.4rem;
}

header {
    text-align: center;
    padding: 0.25rem;
}

nav {
    text-align: center;
    display: grid;
    gap: 0.2rem;
    padding: 0.25rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.container {
    padding: 0.2rem;
    display: grid;
    gap: 0.5rem;
    text-align: center;
}

.container .coutry {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.container .result {
    background-color: red;
    height: inherit;
    border-radius: 4px;
}
